*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #CFCF8C;
  --secondary-color:#CFCF8C;
  --detail-color:#797965;
  --main-gradient:#CFCF8C;
}

svg{
  color: var(--detail-color);
}

.main{
  background: rgb(221, 221, 198);
  min-height: 100vh;
  color: var(--detail-color);
  overflow-x: hidden;
}

li{
  list-style-type: none;
}

button{
  border: none;
  background-color: transparent;
}

hr{
  background-color: transparent;
}

/*#3E8A54 - #00776A - #05606C*/
/*Sections*/
.mainSection{
  width: 75%;
  min-width: 850px;
}
.secondarySection{
  width: 30%;
}
/*Posts*/
.postsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post{
  width: 75%;
  margin: .5rem 0;
  border: none;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  user-select:none;
  padding: 0;
  border: 2px solid var(--detail-color);
}

.postUser img{
  border: 2px solid white;
}

.postForum:hover{
  border-bottom: 1.5px solid var(--main-color);
}
.postUser:hover img{
  border: 2px solid var(--main-color);
  transition: .2s;
}


.btn:hover{
  filter: contrast(125%);
  color: white;
}
.btnContainer{
  min-width: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  flex-direction: column;
}
.btnOptionsContainer{
  padding: 0;
  margin: 0;
  height: 90px;
}
.btnContainer button{
  font-size: 20px;
  color: var(--detail-color);
}
.card-body{
  max-width: calc(100% - 65px);
  color: var(--detail-color);
  font-style: none;
  text-decoration: none;
  cursor: pointer;
}
.card-body:hover{
  color: var(--detail-color);
  font-style: none;
  text-decoration: none;
}
.card-text{
  max-height: 150px;
  overflow-y: auto;
}
.btnContainer button:hover:not(.Give-a-coffe){
  transform: scale(1.2);
}
.btnOptionsContainer button:hover::after{
  position: absolute;
  font-size: 13px;
  bottom: 3px;
  right: 28px;
  font-weight: 600;
  color: var(--detail-color);
}
.delete:hover::after{
  content: "Delete";
}
.edit:hover::after{
  content: "Edit";
}
.save:hover::after{
  content: "Save";
}
.unsave:hover::after{
  content: "Unsave";
}
/*Cup Styles*/
.Give-a-coffe svg{
  transform: rotate(0deg);
  transition: .2s;
}
.Give-a-coffe:hover svg{
  transform: scale(1.2);
  transition: .2s;
}

.Give-a-coffe:active svg{
  transform: rotate(-45deg) scale(1.2);
  transition: .1s;
}

.Give-a-coffe:active .Give-a-coffeCounter{
  transform: scale(.8);
  transition: .2s;
}
.Give-a-coffeCounter{
  position: absolute;
  right: 38px;
  bottom: 4px;
  font-size: 18px;
  transition: .3s;
}

.coffeeCounter{
  font-size: 18px;
}

.coffeeCounter svg{
  transform: scale(.8);
}

.post .card-title{
  min-height: 30px;
  max-height: 100px;
  overflow-y: auto;
}

/*Post Form*/
.btn-main{
  background-color: var(--main-gradient);
  color: white;
}

.dangerForum{
  z-index: 100 !important;
}

.openForm, .closeForm{
  border-radius: 5px;
}

.postFormModal{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(99, 94, 94, 0.652);
  display: flex;
  justify-content: center;
  align-items: center;
}

.postForumModalSection{
  width: 90%;
  height: 90%;
  border-radius: 15px;
  background-color: var(--detail-color);
  padding: 20px;
}

.postForumModalSection ul{
  padding: 0;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.postForumModalSection li{
  padding: 5px;
  min-width: 25% ;
  border-radius: 5px;
  background-color: white;
  color: var(--detail-color);
  font-size: 18px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
}

.postForumModalSection li:hover{
  transform: scale(1.05);
}

.postForumModalSection li:active{
  transform: scale(1);
}

.btn-danger{
  z-index: 120;
}

/*navBar*/
.navBar{
  position: fixed;
  width: 100%;
  z-index: 100;
  gap: 10px;
  display: flex;
  padding: 15px;
  color: var(--detail-color);
  background-color: var(--detail-color);
}
.navText{
  display: flex;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  align-items: center;
  user-select: none;
  background: var(--main-gradient);
  color: var(--detail-color);
  text-decoration: none;
}
.navText:hover{
  text-decoration: none;
  color: var(--detail-color);
}
.navSearch{
  display: flex;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  background: var(--main-gradient);
  width: 55vw;
  min-width: 300px;
  max-width: 750px;
  transition: 2s;
}

.navSearch input{
  transition: 2s;
  background-color:var(--detail-color);
  border: none;
  color: white;
  width: 50vw;
  min-width: 200px;
  max-width: 675px;
  border-radius: 5px;
  padding: 0 10px;
}

.navSearch input:focus-visible{
  outline: none;
}

.navSearch svg{
  transition: .4s;
}

.navSearch input::placeholder{
  color: white;
}

.navSearch svg:hover{
  transform: scale(1.2);
}

.navSearch svg{
  font-size: 25px;
}

.searchDisplay{
  position: absolute;
  background-color: var(--detail-color);
  color: white;
  padding: 10px;
  width: 55vw;
  min-width: 300px;
  max-width: 750px;
  margin: 0 -10px;
  top: 60px;
  z-index: 20;
  border: 5px solid var(--secondary-color);
  border-top: 0;
  border-radius: 0 0 10px 10px;
  user-select: none;
  max-height: 500px;
  overflow-x: auto;
}

.searchDisplayOthers{
  color: white;
  position: sticky;
  padding: 3px ;
  background-color: rgba(184, 180, 180, 0.357);
  border-radius: 2px;
  font-size: 13px;
  bottom: 0;
}

.searchDisplayOthers:hover{
  background-color: var(--secondary-color);
  color: white;
}

.btn-search{
  padding: 3px 5px;
  background: var(--main-gradient);
  font-size: 13px;
}


a{
  color: var(--detail-color);
  text-decoration: none;
}
a:hover{
  color: var(--detail-color);
}
.searchDisplay h6{
  font-size: 14px;
  margin: 0;
}

.navBarFounded{
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: start;
}
.navBarFounded:hover{
  background-color: var(--secondary-color);
}
.navSocailFunctions{
  width: auto;
  font-size: 15px;
  padding: 10px;
  background: var(--main-gradient);
  align-items: center;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navSocailFunctions ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.navSocailFunctions ul div{
  display: flex;
  gap: 3px;
  user-select: none;
  cursor: pointer;
}

.navSocailFunctions svg{
  font-size: 20px;
}
.navBarResponsiveBtn{
  display: none;
}
.navHomeBtn{
  display: none;
}
/*selectedPost*/
.selectedPost{
  background-color: white;
  border: 3px solid var(--detail-color);
  width: 90%;
  margin-top: 25px;
  max-width: 1300px;
  border-radius: 15px;
  color: var(--detail-color);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 20px;
}

.selectedPost .btnOptionsContainer{
  width: 15vw;
  min-width: 100px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 100%;
}
.selectedPost svg{
  font-size: 20px;
}
.selectedPost .card-body{
  cursor: default;
}

.selectedPost .card-text{
  max-height: none;
}


/*Porfile Section*/
.logInForm{
  width: 50vw;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  color: var(--detail-color);
  margin: 5rem auto;
}

.logInForm button{
  background: var(--main-gradient);
  border: none;
}

/*Forums*/

.forumFormModal{
  position: fixed;
  top: 0;
  background-color: rgba(80, 80, 80, 0.9);
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.forumForm{
  align-items: center;
  height: 350px;
  width: 70%;
  background-color: var(--detail-color);
  color: white;
  border-radius: 10px;
  padding: 30px;
}


.forumsContainer{
  padding: 10px;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 1vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.forum{
  height: 150px;
  width: 350px;
  background-color: white;
  padding: 0px 15px;
  border-radius: 10px 10px 0 0;
}

.forum p{
  overflow: auto;
  height: 74%;
}

.forumSearchBar input{
  width: 250px;
  height: 100px;
  border: none;
  border-bottom: 1px solid var(--detail-color);
  font-size: 60px;
  background-color: transparent;
  transition: border .2s, width .5s, font-size .31s;
  color: var(--detail-color);
}

.forumSearchBar input:focus-visible{
  font-size: 75px;
  outline: none;
  border-bottom:3.5px solid var(--detail-color);
  width: 550px;
}

.forumSearchBar svg{
  font-size: 60px;
  transition: .7s;
}

.forumSearchBarOn svg{
  font-size: 75px;
}

.forumSearchBar input::placeholder{
  font-size: 50px;
  color: var(--detail-color);
  transition: .2s;
}
.forumSearchBar input:focus-visible::placeholder{
  font-size: 55px;
  color: var(--detail-color);
}

.btn-forum{
  background-color: var(--detail-color);
  color: var(--detail-color);
  color: white;  
}

.forumBtnContainer{
  background-color: white;
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  border-radius: 0 0 10px 10px;
  padding: .5rem;
}

.forumBtnContainer a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 80px;
  font-size: 15px;
}

.forumBtnContainer svg{
  font-size: 18px;
}

.unjoin svg{
  transform: rotate(180deg);
}

/*Selected Forum*/
.selectedForum{
  display: flex;
  justify-content: space-evenly;
  flex-direction:column;
  width: 100%;
  margin: 0 auto;
}

.selectedForumInfo{
  padding: 10px;
  width: 75%;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
}

.selectedForum ul{
  padding: 0;
  margin: 0;
}

.selectedForum h2{
  border-radius: 7px;
  padding: 10px;
  margin: 0;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}
.selectedForum p{
  border-radius: 7px;
  font-size: 20px;
  padding: 5px;
  margin: 0;
  margin-top: 1rem;
  display: block;
  overflow: auto;
}

.selectedForum h3{
  display: flex;
  justify-content: space-evenly;
  flex-direction:column;
  width: 95%;
  border-radius: 20px;
}


.searchForumsList ul{
  margin: 0;
  padding: 10px;
  background-color: var(--detail-color);
  color: white;
  width: 25%;
  border-radius: 0 0 15px 15px;
}

.searchForumsList:focus{
  border: none !important;
}

.searchForumsList div:hover{
  background-color: rgba(194, 190, 190, 0.713);
  cursor: pointer;
  user-select: none;
}
.searchForumsList div{
  cursor: pointer;
  width: 100%;
  user-select: none;
}
.anyForumsSearch{
  position: absolute;
  margin: 0;
  padding: 10px;
  background-color: var(--detail-color);
  color: white;
  width: 25%;
  border-radius: 0 0 15px 15px;
  user-select: none;
}

/*Selected User*/
.profileSection{
  display: flex;
  justify-content: center;
  gap: 3rem;

}

.userPosts{
  margin: 0;
  width: 50%;
  max-width: 700px;
  padding: 0;
}

.userInfo{
  background-color: rgb(255, 255, 255);
  width: 400px;
  padding: 20px;
  height: 50vh;
  max-height: calc(100vh - 110px);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.userInfoBtn{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 30px;
  justify-content:flex-start;
}

.userInfoBtn button{
  width: 25%;
  display: flex;
}

.userPosts .post{
  width: 100%;
  margin-top: 0;
}

.descriptionSection{
  display: flex;
  align-items: flex-end;
  gap: .8rem;
  padding: .3rem;
  color: var(--detail-color);
}

.descriptionSection svg{
  color: var(--detail-color);
  font-size: 30px;
  padding: 3px;
}
.descriptionSection button:hover{
  background-color: rgba(182, 179, 179, 0.432);
}
.logout{
  color: red;
}

.btn-danger{
  z-index: 0;
}

.logout::after{
  content: 'Log Out';
  opacity: 0;
  transition: .3s;
  font-size: 15px;
}

.logout:hover::after, .savedposts:hover::after{
  opacity: 1;
}

.savedposts{
  color: var(--detail-color);
}

.savedposts::after{
  content: 'Saved Posts';
  opacity: 0;
  transition: .3s;
  font-size: 15px;
}
/*Toast*/
.toast{
  width: 230px;
  height: 45px;
  font-size: 13px;
  color: var(--detail-color);
  border: 1.5px solid var(--main-color);
  user-select: none;
}
/*Toast*/


.btn-second{
  background-color: var(--secondary-color);
}

.btn-second:hover{
  z-index: 1;
}
/*Avatar*/

.createAvatarSection{
  display: flex;
  align-items: center;
  width: 125px;
  border-radius: 50px;
}
.createAvatarSectionBtns{
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 15px;
  gap: 15px;
}

.createAvatarSectionBtnsRight{
  margin-left: 115px;
}

.createAvatarSectionBtns button{
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: .2s;
}
.createAvatarSectionBtns button:hover{
  background-color: var(--main-color);
}
.selectedForumContent{
  width: 75%;
}

@media (max-width: 600px) {

  .btnPosts{
    width: 100vw !important;
    align-items: center;
    padding: 0 15px;
  }

  .searchDisplay{
    display: none;
  }
  .navBar{
    position: absolute;
    flex-direction: column;
    height: auto;
    transition: .6s;
    z-index: 10;
    top: -100%;
    overflow: hidden;
    border-radius: 0px;
    position: fixed;
  }
  .navBarOpen{
    transition: .6s;
    border-radius: 0px 0px 15px 15px;
    top:7vh;    
  }
  
  .navSearch{
    border-radius: 10px;
    width: 100%;
  }

  .navBarResponsiveBtn .navText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 20px;
    margin: 0;
    padding: 0 10px;
    border-radius: 0 15px 15px 0;
    background: var(--main-gradient);
  }
  .navText{
    display: none;

  }

  .navSocailFunctions{
    border-radius: 10px;
  }

  .navSocailFunctions ul{
    font-size: 20px;
    width: 100%;
    justify-content: space-evenly;
  }

  .navSocailFunctions svg{
    font-size: 30px;
  }

  .navSearch input{
    width: 95%;
    transition: .5s;
    height: 35px;
    border: 5px solid transparent;
    border-radius: 20px;
  }

  .selectedForumContent{
    width: 95%;
  }

  .selectedForumInfo{
    width: 95% !important;
  }

  .navSearch input:focus-visible{
    height: 50px;
    border-radius: 12px;
    font-size: 28px;
  }

  .selectedForum{
    width: 100%;
    margin: 0;
  }

  .navBarResponsiveBtn button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    border-radius: 15px 0 0 15px;
    background: var(--main-gradient);
  }

  .navHomeBtn{
    display: flex;
    font-size: 12px;
    justify-content: center;
    border-radius: 10px;
  }

  .navBarResponsiveBtn{
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px;
    background: var(--detail-color);
    width: 100vw;
    position: fixed;
    padding: 25px 5px;
    height: 7vh;
    font-size: 40px;
    color: var(--detail-color);
  }

  hr.my-5{
    margin: 5vh !important;
  }

  .logInForm{
    width: 95%;
    margin: 10px;
  }
  .mainSection form{
    width: 95vw !important;
  }
  .post{
    min-width: none;
    width: 95vw;
  }
  .forumForm{
    width: 100%;
    margin-top: 100px;
  }

  .btn-forum{
    opacity: 0.5;
  }
  .forumSearchBar input:focus-visible {
    width: 250px;
  }

  .forumForm small{
    display: none;
  }

  .profileSection{
    padding: 25px;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .profileSection .userPosts, .userInfo{
    width: 100%;
  }

  .toast{
    font-size: 16px;
  }

  .selectedForum{
    margin: 0 ;
  }
}

.bottomIcon svg{
  transition: 0.3s;
  font-size: 23px;
  cursor: pointer;
}
.bottomIcon .bugText{ 
  transition: .3s;
  cursor: pointer;
  opacity: 0;
  user-select: none;
}
.bottomIcon:hover .bugText{ opacity: 1;}

.bottomIcon:hover svg{
  transform: scale(1.2);
}
.btn-secondary svg, .btn-main svg{
  color: white;
}